
.wrapper {
	text-align: center;
	display: inline block;
	position: relative;
	}

.targetone {

text-align: center;
  margin-left: 900px;
  margin-top: -300px;
   position: absolute;
  background: transparent;
  display:  block;
}
.Billy { display: none;}

.Billy:hover +img{
   display: block;}

.targettwo {
	display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    top: 50px;
    left: 400px;
    cursor: pointer;
}

.folder2 {
  display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50px;
    left: 500px;
    opacity: 0;
    cursor: pointer;
}


.targetthree {
	display:block;
  margin-left: 350px;
  margin-top: -660px;
 position: absolute;
  background: transparent;
  }

.targetone:hover {
    opacity: .5;
    background-color: red;
  }
	
  .targettwo:hover {
    opacity: .5;
  }
  .targettwo:hover .folder2 {
    opacity: 1;
  }

  .targetthree:hover {
    opacity: .5;
    background-color: red;
  }








