
.wrapper {
	text-align: center;
	display: inline block;
	position: absolute;
	}

  .logo { 
  display: inline-block;
    position: relative;
    width: 600px;
    height: 600px;
    top: 50px;
    left: 12px;
    }

.targetone {

display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    top: 90px;
    left: 600px;
    cursor: pointer;
}

.targettwo {
	display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    top: 50px;
    left: 400px;
    cursor: pointer;
}

.targetthree {
	display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    top: 500px;
    left: 70px;
    cursor: pointer;
  }

.targetone:hover {
    opacity: .5;
    background-color: red;
  }
	
  .targettwo:hover {
    opacity: .5;
    background-color: red;
  }
  

  .targetthree:hover {
    opacity: .5;
    background-color: red;
  }


/* light box images */

#content {
  width: 940px;
  margin: 100px auto 0px auto;}

  .folder {
  width: 220px;
  height: 1800px;
  position: absolute;
  background opacity: 1;
  text-align: center;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


220px;
  height: 180px;






