/*
Color Key
-----------

brown 9d8235

*/

/*header styles*/
body{font-family: Georgia;
color: #9d8235;

font-weight: 100;
text-align: center;}

.headerlogo {
	display:block;
	text-align: center;
}


.navigation {
	border-top: 1px solid #9d8235;
	width: 470px;
	margin: auto;
	padding-top: 40px;
	display: inline-block;
	text-align: center;
	padding-bottom: 20px;
	
}
.home { font-weight: bold;
}
	

span.prices {font-family: Georgia;
font-weight: 100;
font-size: 16pt;
font-style: italic;}





.coffeehero {
	display:block;
	text-align: center;
	margin: auto;
	}

.menuspace {
	display: inline-block;
	width: 1000px;
	height: 750px;
	margin: auto;
	text-align: center;
	font-family: Helvetica;
	font-size: 16pt;
	font-style: bold;
	

}

.left-column, .right-column {
	width: 460px;
	height:690px;
	display: inline-block;
	list-style: none;
	line-height: 40px;
	float: left;
	margin-top: 60px;

	
}

ul.subcolumn-left, ul.subcolumn-right {
	width:230px;
	height: 320px;
	display: inline-block;
	text-align: center;
	font-family: Helvetica;
	font-size: 16pt;
	list-style: none;
	font-weight: 300;
	line-height: 30px;
	float: left;
	word-spacing: 5px; ;
	
	
}


.menutitles {
	font-family: Georgia;
	font-size: 28pt;
	font-style: italic; 
	display: block;
	list-style: none;
	font-weight: 100;
	margin-bottom: 30px;


	}


.menuitems {
	font-family: Helvetica;
	font-size: 16pt;
	list-style: none;
	font-style: bold;
	
	
}



div.footerbar {
	text-align: center;
	background-color:#f0f0f0;
	border-top: 2px;
	border-color:#9d8235;
	width:1400px;
	height: 200px;
	display: block;
	margin-top: 170px;
}

.bottom-logo {
	max-height: 165px;
	max-width: 95px;
	display:block;
	text-align: center;
}










