/*
Color Key
-----------

brown 9d8235

*/

/*header styles*/
body{font-family: Georgia;
color: #9d8235;

font-weight: 100;
text-align: center;}

.headerlogo {
	display:block;
	text-align: center;
}


.toprule {
	border-top: 1px solid #9d8235;
	width: 470px;
	margin: auto;
	padding-top: 40px;
	;

}
.navigation {display: block;
	margin: auto;
	text-align: left;
	padding: 20px;
	
}
.home { font-weight: bold;
text-align:center;
padding-left: 500px;}
	

span.prices {font-family: Georgia;
font-weight: 100;
font-size: 16pt;
font-style: italic;}





.coffeehero {
	display:block;
	text-align: center;
	margin: auto;
	}

.menuspace {
	display: block;
	width: 1000px;
	height: 450px;
	margin: auto;
	text-align: center;
}

.left-column, .right-column {
	width:490px;
	display: inline-block;
	list-style: none;
}

	


.menutitles {
	font-family: Georgia;
	font-size: 28pt;
	font-style: italic; 
	display: block;
	list-style: none;
	font-weight: 100;
	}


ul.menuitems {
	font-family: Helvetica;
	font-size: 16pt;
	list-style: none;
	font-style: none;
	
}

footer { width: 1580px;
	background color: #0f0f0f;
border-top: 1px solid #9d8235;
margin-left: -900px;
margin-top: 500px;
}

.footerlogo {
	margin-left: -170px;
	width: 165px;
	height: 90px;
}








